.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 10px;
    width: 220px;
    height: 320px;
    perspective: 1000px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    align-self: center;
    justify-self: center;
    background-image: url('../assets/brown-bg-card.jpg');
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 220px;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
}

.card.flip {
    transform: rotateY(180deg);
    pointer-events: none;
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card .front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.card:active {
    transform: scale(0.8);
}

.card .back {
    transform: rotateY(180deg);
    z-index: 1;
    background-image: url('../assets/brown-bg-card.jpg');
    background-image: url('../assets/panda-logo.png');
    background-size: 200px 70px;
    background-position: center, center;
    background-repeat: no-repeat;
}

.card span {
    padding-bottom: 10px;
}