#footer {
    display: flex;
    justify-content: space-between;
    margin: 0 7vw;
    position: fixed;
    width: 85%;
    bottom: 3vh;
}

#sound, #help {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 15px;
    background-color: rgb(71, 71, 71);
    border: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border: 1px solid white;
    outline: none;
}
#sound:hover, #help:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px white;
}
#sound:active, #help:active {
    transform: scale(0.9);
}

#help {
    padding: 20px;
}

#sound img {
    width: 25px;
    height: 25px;
}

#help img {
    width: 15px;
    height: 15px;
}

#video {
    display: none;
}

.sound-msg {
    position: absolute;
    bottom: 5vh;
    left: clamp(150px, 17vw, 200px);
}

.popup-msg {
    display: flex;
    align-items: center;
    background-color: rgb(71, 71, 71);
    padding: 15px;
    border-radius: 15px;
    white-space: wrap;
    box-shadow:  0px -2px 5px 2px rgba(255, 255, 255, 0.3);
    max-width: 420px;
    margin-left: -70px;
}
.popup-msg.left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 80%;
    transform: translateY(-7%) rotate(-55deg);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(71, 71, 71);
}

.popup-msg span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

#help-msgs {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    bottom: 9vh;
    right: clamp(100px, 17vw, 150px);
    z-index: 10;
    text-align: center;
    margin-right: -70px;
}

@media only screen and (max-width: 767px) {
    .popup-msg {
        bottom: 10vh;
        left: 5vw;
        margin-left: 0;
    }

    .popup-msg span {
        font-size: 16px;
    }

    #help-msgs {
        bottom: 15vh;
        right: 15vw;
        left: 15vw;
        margin-right: 0;
    }
}