@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

#root {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel Decorative', sans-serif;
}

body {
    background-image: url('../../public/panda-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: -1;
}

button {
    cursor: pointer;
}