#easy-level {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    gap: 10px;
}

@media only screen and (max-width: 940px) {
    #easy-level {
        margin: 50px 0;
    }
}